﻿@using IdentityProject.ViewModels

@model ConfirmEmailView

<!doctype html>
<html>

<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass * {
                line-height: 100%;
            }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <style type="text/css">
        p {
            margin: 0 0 24px 0;
        }

        a {
            color: #00b9ff;
        }

        hr {
            margin: 32px 0;
            border-top: 1px #e2e6e8;
        }

        dt {
            font-size: 13px;
            margin-left: 0;
        }

        dd {
            color: #37517e;
            margin-bottom: 24px;
            margin-left: 0;
        }

        h5 {
            font-family: TW-Averta-SemiBold, Averta, Helvetica, Arial;
            font-size: 16px;
            line-height: 24px;
            color: #2e4369;
        }

        pre {
            display: block;
            padding: 16px;
            padding: 12px 24px;
            margin: 0 0 48px;
            font-size: 14px;
            line-height: 24px;
            color: #4a5860;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f2f5f7;
            border-radius: 3px;
        }

        .body-wrapper {
            background: #f2f5f7 url('https://d2yjfm58htokf8.cloudfront.net/static/images/background-v1.png') no-repeat center top;
            padding: 0px;
            margin: auto;
        }

        .content-wrapper {
            max-width: 536px;
            padding: 32px;
            padding-bottom: 48px;
        }

        .footer-wrapper div {
            color: #37517e !important;
        }

            .footer-wrapper div a {
                color: #00b9ff !important;
            }

        .hero {
            font-family: TW-Averta-Bold, Averta, Helvetica, Arial;
            color: #37517e;
            font-size: 22px;
            line-height: 30px;
        }

        .page-header {
            border-bottom: 1px solid #eaebed;
            padding-bottom: 16px;
        }

        .mb-0 {
            margin-bottom: 0 !important;
        }

        .mt-0 {
            margin-top: 0 !important;
        }

        .btn {
            box-sizing: border-box;
            display: inline-block;
            min-height: 36px;
            padding: 12px 24px;
            margin: 0 0 24px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 0;
            border-radius: 3px;
            color: #ffffff;
            background-color: #233746;
            text-decoration: none;
            -webkit-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
        }

            .btn:hover {
                background-color: #00a4df;
            }

            .btn:active {
                background-color: #008ec0;
            }

        .content-wrapper {
            max-width: 504px !important;
            padding: 48px !important;
        }

        .content-wrapper {
            max-width: 456px !important;
            padding: 72px !important;
            padding-top: 48px !important;
        }
    </style>

</head>

<body>
    <div class="mj-container body-wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600"
               align="center" style="width:600px;">
            <tr>
                <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <div style="margin:0px auto;max-width:600px;background:#fff;" class="content-wrapper"
                         data-class="content-wrapper">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff;"
                               align="center" border="0">
                            <tbody>
                                <tr>
                                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width:600px;">
                                                    <div style="margin:0px auto;max-width:600px;">
                                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                                                               align="center" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td style="vertical-align:middle;width:600px;">
                                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle;"
                                                                                           width="100%" border="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="word-wrap:break-word;font-size:0px;padding:0px;" align="center">
                                                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;"
                                                                                                           align="center" border="0">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="width:150px;">
                                                                                                                    <img alt="Logo" title="" height="auto" src="https://ui-ex.com/images/transparent-logo-book-3.png"
                                                                                                                         style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;"
                                                                                                                         width="150">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                    </div> -->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:600px;">
                    <div style="margin:0px auto;max-width:600px;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                               align="center" border="0">
                            <tbody>
                                <tr>
                                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;width:600px;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="word-wrap:break-word;font-size:0px;padding:0px;">
                                                                        <div style="font-size:1px;line-height:48px;white-space:nowrap;"> </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:600px;">
                    <div style="margin:0px auto;max-width:600px;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                               align="center" border="0">
                            <tbody>
                                <tr>
                                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;width:600px;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="word-wrap:break-word;font-size:0px;padding:0px;" align="left">
                                                                        <div style="cursor:auto;color:#5d7079;font-family:TW-Averta-Regular, Averta, Helvetica, Arial;font-size:16px;line-height:24px;letter-spacing:0.4px;text-align:left;">
                                                                            <p>Hello, @Model.UserName</p>
                                                                            <p class="hero">It’s time to confirm your email address.</p>
                                                                            <p>
                                                                                Have we got the right email address to reach you on? To confirm that you can get
                                                                                our emails, just click the button below.
                                                                            </p>
                                                                            <p>
                                                                                <a href="@Model.ConfirmationLink" class="btn" mc:disable-tracking="">Confirm my email address</a>
                                                                            </p>
                                                                            <p>
                                                                                If you don’t know why you got this email, please tell us straight away so we can
                                                                                fix this for you.
                                                                            </p>
                                                                            <hr style="margin-top: 56px">
                                                                            <p class="mb-0">Thanks,</p>
                                                                            <p class="mb-0">BookStore</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
    </td>
    </tr>
    </table>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600"
           align="center" style="width:600px;" class="content-wrapper-outlook footer-wrapper-outlook">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                <div style="margin:0px auto;max-width:600px;" class="content-wrapper footer-wrapper">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                           align="center" border="0">
                        <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="width:600px;">
                                                <div style="margin:0px auto;max-width:600px;">
                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                                                           align="center" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td style="vertical-align:top;width:600px;"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:600px;">
                                                <div style="margin:0px auto;max-width:600px;">
                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                                                           align="center" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">

                                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="word-wrap:break-word;font-size:0px;padding:0px;">
                                                                                        <div style="font-size:1px;line-height:24px;white-space:nowrap;"> </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:600px;">

                                                <div style="margin:0px auto;max-width:600px;">
                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                                                           align="center" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin:0px auto;max-width:600px;background:transparent;">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:transparent;"
                           align="center" border="0">
                        <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="vertical-align:top;width:600px;">
                                                <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="word-wrap:break-word;font-size:0px;padding:0px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;"
                                                                           align="center" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:1px;">
                                                                                    <img alt="" title="" height="1" src="https://api.transferwise.com/v1/notification-flow/messages/c6180a31-5cdb-477a-8c36-756232726efc/channels/EMAIL/open.gif"
                                                                                         style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:1px;"
                                                                                         width="1">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    </div>
</body>

</html>